body {
  background: lightskyblue;
  color: white;
}

h1, h2 {
  text-align: center;
}

h2 {
  color: #d8ecf3;
}

section {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #0000005b;
}

input, button {
  display: block;
}

input {
  margin: auto;
  margin-bottom: 10px;
}

button {
  margin: auto;
  background: darkblue;
  padding: 5px;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 16px;
}