body {
  background: lightskyblue;
  color: white;
}

h1, h2 {
  text-align: center;
}

h2 {
  color: #d8ecf3;
}

section {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #0000005b;
}

input, button {
  display: block;
}

input {
  margin: auto;
  margin-bottom: 10px;
}

button {
  margin: auto;
  background: darkblue;
<<<<<<< HEAD
  padding: 5px;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 16px;
}
=======
  margin-left: auto;
}

#send {
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

#input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

#enviar {
  display: none;
  transform: translate(320px, -27px);
}
>>>>>>> f548a95312525f99e0afe6c89a22b7987a987604
