* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, Sans-Serif;
  background: lightskyblue;
}

#chat {
  height: 80vh;
  padding: 10px;
}

#chat > h1 {
  text-align: center;
  color: white;
  border-bottom: 1px solid white;
  padding: 10px;
  margin-bottom: 15px;
}

.nome {
  text-align: right;
  font-weight: bold;
}

.nome-server {
  font-weight: bold;
}

.mensagem {
  color: white;
  background: #2d829d;
  padding: 5px;
  border-radius: 10px;
  width: 200px;
  margin-bottom: 5px;
}

.enviada {
  background: darkblue;
  margin-left: auto;
}

#send {
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  height: 50px;
}

#input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

#enviar {
  display: none;
  transform: translate(320px, -27px);
}